{{define "head"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="LkFfIwMaUBxi6Nk0cBptGr0VbVvGt4lNOwPtQReeUcI" />
    <title>Trio Opus 3</title>
    <meta name="description" content="The Trio Opus 3 have been performing classical music for more than fifteen yeas">
    <meta name="keywords" content="Trio, Opus, 3, classic, cello, violin, piano, melanie, reinhard, christopher, white, jonas, seeberg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    {{end}}
