.musicians {
    background-image: linear-gradient(rgba(black, 0.4)), url("../img/about.jpg");
    background-size: cover;

    &__container {
        padding: 8rem 0;
        &--musician {
            margin-top: 4rem;
            display: flex;
            justify-content: space-between;

            & a {
                filter: grayscale(1);
                width: 30%;
                transition: all .5s;

                & img {
                    width: 100%;
                }

                &:hover {
                    filter: grayscale(0);
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .musicians {
        
        &__container {
            &--musician {
                flex-wrap: wrap;
    
                & a {
                    filter: grayscale(1);
                    width: 100%;
                    transition: all .5s;
                    text-align: center;
                    & img {
                        width: 50%;

                    }
    
                    &:hover {
                        filter: grayscale(0);
                    }
                }
            }
        }
    }
}